<div class="website" nz-flex nzAlign="center" nzJustify="center" [nzVertical]="true">
  @if (!isMobile) {
  <flower-target></flower-target>

  <div class="content" flCard nz-flex nzAlign="center" [nzVertical]="true" @QuickUp>
    <h1 class="page-title">关于网站</h1>
    <span class="fi-secondary-text">你的指尖，蕴含改变世界的力量。</span>
    <nav class="fi-tab-bar website-tab-bar">
      @for (tab of tabs; track tab.index; let i = $index) {
      <button class="fi-tab website-tab" [class.fi-tab--active]="activeSection === i" (click)="goToSection(i)">
        {{ tab.label }}
      </button>
      }
    </nav>

    @if (activeSection === 0) {
    <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
      [class.slide-in--left]="slideDirection === 'left'" data-index="0">
      <article class="section-inner">
        <div class="fi-simple-timeline">
          @for (item of websiteTimeline; track item) {
          <div class="fi-simple-timeline-item">
            <span class="fi-simple-timeline-dot"></span>
            <div class="fi-simple-timeline-content">
              <span class="fi-simple-timeline-date">{{ item.date }}</span>
              <span class="fi-simple-timeline-title">{{ item.title }}</span>
              @if (item.text != '') {
              <span class="fi-secondary-text"> - {{ item.text }}</span>
              }
            </div>
          </div>
          }
        </div>
      </article>
    </section>
    }

    @if (activeSection === 1) {
    <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
      [class.slide-in--left]="slideDirection === 'left'" data-index="1">
      <article class="section-inner">
        <p nz-typography>我是一个<strong class="fi-primary-text">喜欢记录</strong>的人</p>
        <p nz-typography>从学生时代的日记、笔记，到现在的记账、拍照、游戏视频剪辑，我总是希望将生命中的美好记录成册。</p>
        <p nz-typography>我是一个<strong class="fi-primary-text">喜欢分享</strong>的人</p>
        <p nz-typography>我总是主动积极的发朋友圈、找朋友聊天、在知乎掘金等社区发言，我总是希望将自己的记忆和经验分享出去。</p>
        <p nz-typography>某一天，我在掘金阅读了一篇文章《零碎时间建站》，这篇文章让我想起了曾经大学时因高考失利而堕落摆烂的自己</p>
        <p nz-typography>为了满足那时候的自己心中无数次"我想写一个自己的个人网站"的愿望，也为了「记录」和「分享」</p>
        <p nz-typography><strong class="fi-primary-text">「花墨」</strong>应邀而来</p>
        <nz-divider></nz-divider>
        <p nz-typography type="secondary">如果你对花墨的发展感到好奇，欢迎访问<a
            href="https://docs.qq.com/sheet/DY3BEZlZtaUNRVEZk?tab=BB08J2" target="_blank">《花墨开发升级计划》</a></p>
      </article>
    </section>
    }

    @if (activeSection === 2) {
    <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
      [class.slide-in--left]="slideDirection === 'left'" data-index="2">
      <article class="section-inner">
        <p nz-typography>我的网站项目名和域名为：FlowersInk，含义是<strong class="fi-primary-text">「花(Flower)的(`s)墨(Ink)」</strong>
        </p>
        <p nz-typography>相比于现在非常便利的电子化，我总是对书写、纸质书一直情有独钟，提笔书写在纸上所带来知识的厚重感，电子化很难替代</p>
        <p nz-typography>但电子化是时代趋势，纸质书笔只能作为一种闲暇之余的爱好，于是我将敲击键盘看作是另一种形式的"书写"。</p>
        <p nz-typography><strong class="fi-primary-text">「再花想要挥洒笔墨的地方」</strong>，故名为「花墨」</p>
      </article>
    </section>
    }

    @if (activeSection === 3) {
    <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
      [class.slide-in--left]="slideDirection === 'left'" data-index="3">
      <article class="section-inner">
        <p nz-typography>前端：基于<strong
            class="fi-primary-text">Angular17</strong>开发（目前已更新至v20），使用了ng-zorro、ngx-markdown等库</p>
        <p nz-typography>后端：使用<strong class="fi-primary-text">NestJS</strong>开发</p>
        <p nz-typography>数据库：<strong class="fi-primary-text">MySQL</strong></p>
        <p nz-typography>服务器：<strong class="fi-primary-text">阿里云ECS</strong></p>
        <p nz-typography>网站源码开源地址：
          <a rel="nofollow" href="https://github.com/ZaiHuaOvO/FlowersInkV2" target="_blank">
            <span nz-icon nzType="github" nzTheme="outline"></span> 花墨
          </a>
        </p>
      </article>
    </section>
    }

    @if (activeSection === 4) {
    <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
      [class.slide-in--left]="slideDirection === 'left'" data-index="4">
      <article class="section-inner">
        <div class="thanks-box">
          <p nz-typography>感谢我老婆</p>
          <div class="thanks-row">
            <img class="thanks-avatar" src="https://api.flowersink.com/img/方长趴趴.png" alt="方方大人">
            <strong class="thanks-highlight">方方大人</strong>
          </div>
          <span nz-typography>工作繁忙却在样式、功能等设计方面给予了许多建设性建议，老婆大人万岁！</span>
        </div>
      </article>
    </section>
    }

    <div class="update-note">
      <span>2026年6月24日</span>
      <span>看再花心情更新</span>
    </div>

    <div class="fi-dots">
      @for (item of [0, 1, 2, 3, 4]; track item) {
      <button class="fi-dot" [class.fi-dot--active]="activeSection === item" (click)="goToSection(item)"
        [attr.aria-label]="'切换到第' + (item + 1) + '个分类'"></button>
      }
    </div>
  </div>
  } @else {
  <div class="mobile-website" flCard>
    <h1 class="page-title">关于网站</h1>
    <span class="fi-secondary-text"
      style="display:block;text-align:center;font-size:12px;margin-bottom:8px;">你的指尖，蕴含改变世界的力量。</span>

    <div class="tab-scroll">
      <nav class="fi-tab-bar website-tab-bar">
        @for (tab of tabs; track tab.index; let i = $index) {
        <button class="fi-tab website-tab" [class.fi-tab--active]="activeSection === i" (click)="goToSection(i)">
          {{ tab.label }}
        </button>
        }
      </nav>
    </div>

    <div #wrap class="section-wrap">
      @if (activeSection === 0) {
      <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
        [class.slide-in--left]="slideDirection === 'left'">
        <div class="fi-simple-timeline">
          @for (item of websiteTimeline; track item) {
          <div class="fi-simple-timeline-item">
            <span class="fi-simple-timeline-dot"></span>
            <div class="fi-simple-timeline-content">
              <div class="fi-simple-timeline-row">
                <span class="fi-simple-timeline-date">{{ item.date }}</span>
                <span class="fi-simple-timeline-title">{{ item.title }}</span>
              </div>
              @if (item.text != '') {
              <span class="fi-secondary-text simple-timeline-text">{{ item.text }}</span>
              }
            </div>
          </div>
          }
        </div>
      </section>
      }

      @if (activeSection === 1) {
      <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
        [class.slide-in--left]="slideDirection === 'left'">
        <p nz-typography>我是一个<strong class="fi-primary-text">喜欢记录</strong>的人</p>
        <p nz-typography>从学生时代的日记、笔记，到现在的记账、拍照、游戏视频剪辑，我总是希望将生命中的美好记录成册。</p>
        <p nz-typography>我是一个<strong class="fi-primary-text">喜欢分享</strong>的人</p>
        <p nz-typography>我总是主动积极的发朋友圈、找朋友聊天、在知乎掘金等社区发言，我总是希望将自己的记忆和经验分享出去。</p>
        <p nz-typography>某一天，我在掘金阅读了一篇文章《零碎时间建站》，这篇文章让我想起了曾经大学时因高考失利而堕落摆烂的自己</p>
        <p nz-typography>为了满足那时候的自己心中无数次"我想写一个自己的个人网站"的愿望，也为了「记录」和「分享」</p>
        <p nz-typography><strong class="fi-primary-text">「花墨」</strong>应邀而来</p>
        <nz-divider></nz-divider>
        <p nz-typography type="secondary">如果你对花墨的发展感到好奇，欢迎访问<a
            href="https://docs.qq.com/sheet/DY3BEZlZtaUNRVEZk?tab=BB08J2" target="_blank">《花墨开发升级计划》</a></p>
      </section>
      }

      @if (activeSection === 2) {
      <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
        [class.slide-in--left]="slideDirection === 'left'">
        <p nz-typography>我的网站项目名和域名为：FlowersInk，含义是<strong class="fi-primary-text">「花(Flower)的(`s)墨(Ink)」</strong></p>
        <p nz-typography>相比于现在非常便利的电子化，我总是对书写、纸质书一直情有独钟，提笔书写在纸上所带来知识的厚重感，电子化很难替代</p>
        <p nz-typography>但电子化是时代趋势，纸质书笔只能作为一种闲暇之余的爱好，于是我将敲击键盘看作是另一种形式的"书写"。</p>
        <p nz-typography><strong class="fi-primary-text">「再花想要挥洒笔墨的地方」</strong>，故名为「花墨」</p>
      </section>
      }

      @if (activeSection === 3) {
      <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
        [class.slide-in--left]="slideDirection === 'left'">
        <p nz-typography>前端：基于<strong class="fi-primary-text">Angular17</strong>开发（目前已更新至v20），使用了ng-zorro、ngx-markdown等库
        </p>
        <p nz-typography>后端：使用<strong class="fi-primary-text">NestJS</strong>开发</p>
        <p nz-typography>数据库：<strong class="fi-primary-text">MySQL</strong></p>
        <p nz-typography>服务器：<strong class="fi-primary-text">阿里云ECS</strong></p>
        <p nz-typography>网站源码开源地址：
          <a rel="nofollow" href="https://github.com/ZaiHuaOvO/FlowersInkV2" target="_blank">
            <span nz-icon nzType="github" nzTheme="outline"></span> 花墨
          </a>
        </p>
      </section>
      }

      @if (activeSection === 4) {
      <section class="section slide-in" [class.slide-in--right]="slideDirection === 'right'"
        [class.slide-in--left]="slideDirection === 'left'">
        <div class="thanks-box">
          <p nz-typography>感谢我老婆</p>
          <div class="thanks-row">
            <img class="thanks-avatar" src="https://api.flowersink.com/img/方长趴趴.png" alt="方方大人">
            <strong class="thanks-highlight">方方大人</strong>
          </div>
          <span nz-typography>工作繁忙却在样式、功能等设计方面给予了许多建设性建议，老婆大人万岁！</span>
        </div>
      </section>
      }
    </div>

    <div class="fi-dots">
      @for (item of [0, 1, 2, 3, 4]; track item) {
      <button class="fi-dot" [class.fi-dot--active]="activeSection === item" (click)="goToSection(item)"
        [attr.aria-label]="'切换到第' + (item + 1) + '个分类'"></button>
      }
    </div>
  </div>

  <div class="nav-links">
    <a class="nav-link" [routerLink]="['/about/me']">←关于我</a>
    <a class="nav-link" [routerLink]="['/about/message']">留言板→</a>
  </div>
  }
</div>
