<div class="article" nz-flex [nzVertical]="true" nzAlign="center">
    <flower-blog-title [title]="'开发问题记录'"></flower-blog-title>
    @if (isMobile) {
    <div class="search" flCard @QuickUp>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input flInput placeholder="搜索问题" [formControl]="searchControl" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>
    </div>
    }
    <div class="content question-content" nz-flex nzJustify="center" nzAlign="start" nzGap="middle">
        <nz-spin class="question-spin" [nzTip]="'问题正在努力赶来中'" [nzSpinning]="loading">
            <nz-collapse class="question-collapse" nzAccordion nzGhost nzBordered="false" nz-flex
                nzGap="small" [nzVertical]="true" @QuickUp>
                @for (panel of data; track panel) {
                <nz-collapse-panel [nzHeader]="titleBox" class="anwser" flCard nzShowArrow="false">
                    <markdown class="question-markdown" id="currentAnchor" [data]="panel.content" [clipboard]="markdownReady"></markdown>
                </nz-collapse-panel>
                <ng-template #titleBox>
                    <div nz-flex nzJustify="space-between">
                        <div nz-flex class="question-title-wrap">
                            <span nz-typography>{{panel.title}}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span nz-typography nzType="secondary">{{panel.tag}}</span>
                        </div>
                        <span nz-typography nzType="secondary">{{panel.date | date:'yyyy年MM月dd日'}}</span>
                    </div>
                </ng-template>
                }
            </nz-collapse>
            <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzHideOnSinglePage]="true"
                (nzPageIndexChange)="pageChange($event)"></nz-pagination>
        </nz-spin>
        @if (!isMobile) {
        <div class="me" @SlowUp>
            <nz-affix [nzOffsetTop]="72">
                <div class="search" flCard nz-flex nzAlign="center" nzJustify="start" [nzVertical]="true" nzGap="12px">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input flInput placeholder="搜索问题" [formControl]="searchControl" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                    <div class="tag" nz-flex nzAlign="start" nzJustify="start" [nzVertical]="true">
                        <h5 nz-typography>问题标签</h5>
                        <div nz-flex nzWrap="wrap" nzGap="small">
                            @for (tag of tagList; track tag) {
                            <nz-tag flTag flTagInteractive [flTagVariant]="tagVariant(tag.tag)"
                                (click)="tagSelect(tag.tag)">{{tag.tag}}&nbsp;{{tag.count}}个</nz-tag>
                            }
                        </div>
                    </div>
                </div>
            </nz-affix>
        </div>
        }
    </div>
</div>
