<div class="captcha-block" nz-flex [nzVertical]="true" nzGap="small">
  <div class="captcha-body" [class.captcha-body--inline]="inline" nz-flex nzGap="small"
    [nzWrap]="inline ? 'nowrap' : 'wrap'">
    <div class="captcha-question" [class.captcha-question--disabled]="disabled || loading" (click)="onQuestionClick()"
      (copy)="preventCopy($event)">
      @if (question) {
      <span nz-typography>{{ question }}</span>
      } @else if (loading) {
      ……
      } @else {
      <span nz-typography>点击重新获取验证码</span>
      }
    </div>
    <input nz-input flInput type="text" maxlength="20" [(ngModel)]="answer" [disabled]="disabled || loading"
      placeholder="请输入结果" />
  </div>

  @if (loadErrorMessage) {
  <p nz-typography nzType="danger" class="captcha-error">{{ loadErrorMessage }}</p>
  }
</div>