<div class="error-wrap" nz-flex nzJustify="center" nzAlign="center" nzGap="middle" [nzVertical]="true">
    <div class="error-cat">
      <img src="https://api.flowersink.com/img/粉毛猫猫头.jpeg" alt="" class="error-cat-img" loading="eager" decoding="async">
      <div class="error-cat-ear-left"></div>
      <div class="error-cat-ear-right"></div>
    </div>
    <h1 nz-typography class="error-code">404</h1>
    <p nz-typography class="error-desc">咦？这个页面被猫娘藏起来啦 T^T</p>
    <a nz-button nzType="link" [routerLink]="['/']" class="error-back">回到首页</a>
</div>
