<div class="article" nz-flex [nzVertical]="true" nzAlign="center">
    <flower-blog-title [title]="'技术文章'"></flower-blog-title>
    @if (isMobile) {
    <div class="search" flCard @QuickUp>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input flInput placeholder="搜索文章" [formControl]="searchControl" />
        </nz-input-group>
    </div>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    }
    <div class="content" nz-flex nzJustify="center" nzAlign="start" nzGap="middle">
        <nz-spin [nzTip]="'技术文章正在努力赶来中'" [nzSpinning]="loading" @QuickUp>
            <div nz-flex nzGap="middle" [nzVertical]="true" [@RefreshUp]="listMotionTick">
                @for (item of data; track item) {
                <div flCard flCardHover>
                    <flower-blog-card [blog]="item" [loading]="loading"
                        [routerLink]="['/blog/blog-detail/' + item.id]"></flower-blog-card>
                </div>
                }
                <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzHideOnSinglePage]="true"
                    (nzPageIndexChange)="pageChange($event)"></nz-pagination>
            </div>
        </nz-spin>
        @if (!isMobile) {
        <div class="me" @SlowUp>
            <nz-affix [nzOffsetTop]="72">
                <div class="search" flCard nz-flex nzAlign="center" nzJustify="start" [nzVertical]="true" nzGap="12px">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input flInput placeholder="搜索文章" [formControl]="searchControl" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                    <div class="tag" nz-flex nzAlign="start" nzJustify="start" [nzVertical]="true">
                        <h5 nz-typography>文章标签</h5>
                        <div nz-flex nzWrap="wrap" nzGap="small">
                            @for (tag of tagList; track tag) {
                            <nz-tag flTag flTagInteractive [flTagVariant]="tagVariant(tag.tag)"
                                (click)="tagSelect(tag.tag)">{{tag.tag}}&nbsp;{{tag.count}}篇</nz-tag>
                            }
                        </div>
                    </div>
                </div>
            </nz-affix>
        </div>
        }
    </div>

</div>
