<div class="article" nz-flex [nzVertical]="true" nzAlign="center">
    <flower-blog-title [title]="'写作'"></flower-blog-title>
    @if (isMobile) {
    <div class="search" flCard @QuickUp>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input flInput placeholder="搜索文章" [formControl]="searchControl" />
        </nz-input-group>
    </div>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    }
    <div class="content" nz-flex nzJustify="center" nzAlign="start" nzGap="middle">
        <div class="list-wrap" @QuickUp>
            <div class="list" nz-flex nzGap="middle" [nzVertical]="true" [@RefreshUp]="listMotionTick">
                @for (item of data; track item.id) {
                <div flCard flCardHover>
                    <flower-blog-card
                        [blog]="item"
                        [loading]="loading"
                        [href]="'/blog/blog-detail/' + item.id"
                    ></flower-blog-card>
                </div>
                }
                <!-- 滚动哨兵兼加载位：贴着列表底部，进入视口就再渲染一页 -->
                <div class="load-more" #loadMoreSentinel [class.load-more--active]="hasMore"
                    [class.load-more--empty]="loading && !data.length">
                    @if (loading) {
                    <nz-spin nzSimple></nz-spin>
                    }
                </div>
            </div>
        </div>
        @if (!isMobile) {
        <div class="me" @SlowUp>
            <nz-affix [nzOffsetTop]="72">
                <div class="search" flCard nz-flex nzAlign="center" nzJustify="start" [nzVertical]="true" nzGap="12px">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input flInput placeholder="搜索文章" [formControl]="searchControl" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                    <div class="tag" nz-flex nzAlign="start" nzJustify="start" [nzVertical]="true">
                        <h5 nz-typography>文章标签</h5>
                        <fl-tag-filter [items]="tagList" [selected]="selectedTag"
                            (select)="selectTag($event)"></fl-tag-filter>
                    </div>
                </div>
            </nz-affix>
        </div>
        }
    </div>

</div>
