<div class="article" fl-flex fl-vertical="true" fl-align="center">
    <flower-blog-title [title]="'技术文章'"></flower-blog-title>
    @if (isMobile) {
    <div class="search card" @QuickUp>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="搜索文章" [formControl]="searchControl" />
        </nz-input-group>
    </div>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    }
    <div class="content" fl-flex fl-justify="center" fl-align="start" fl-gap="middle"
        [ngStyle]="{'width':isMobile ?'100%':'80%'}">
        <nz-spin [nzTip]="'技术文章正在努力赶来中'" [nzSpinning]="loading" @QuickUp>
            <div fl-flex fl-gap="middle" fl-vertical="true">
                @for (item of data; track item) {
                <div class="flower_card">
                    <flower-blog-card [blog]="item" [loading]="loading"
                        [routerLink]="['/blog/blog-detail/' + item.id]"></flower-blog-card>
                </div>
                }
                <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzHideOnSinglePage]="true"
                    (nzPageIndexChange)="pageChange($event)"></nz-pagination>
            </div>
        </nz-spin>
        @if (!isMobile) {
        <div class="me" @SlowUp>
            <nz-affix [nzOffsetTop]="72">
                <div class="search card" fl-flex fl-align="center" fl-justify="start" fl-vertical="true" style="gap: 12px;">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="搜索文章" [formControl]="searchControl" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                    <div class="tag" fl-flex fl-align="start" fl-justify="start" fl-vertical="true">
                        <h5 nz-typography>文章标签</h5>
                        <div fl-flex fl-wrap="wrap" fl-gap="small">
                            @for (tag of tagList; track tag) {
                            <fl-tag [nzColor]="tag.color"
                                (click)="tagSelect(tag.tag)">{{tag.tag}}&nbsp;{{tag.count}}篇</fl-tag>
                            }
                        </div>
                    </div>
                </div>
            </nz-affix>
        </div>
        }
    </div>

</div>