<div fl-row [style.--fl-gutter-x.px]="12" [style.--fl-gutter-y.px]="12">
  @for (img of images; track img; let i = $index) {
    <div fl-col [attr.fl-col-span]="isMobile ? 12 : 4" fl-flex fl-vertical="true"
      fl-justify="center">
      <nz-spin class="spin" [nzTip]="'图片加载中…'" [nzSpinning]="!img.loaded" fl-gap="small">
        <div class="img-container card">
          <nz-image-group>
            @if (i <= currentIndex) {
              <img
                loading="lazy"
                decoding="async"
                nz-image
                class="imgFirst"
                [nzSrc]="img.url"
                (load)="img.loaded = true; onImageLoad(i)"
              />
            }
          </nz-image-group>
          <fl-tag nzColor="#8B4513" class="view-btn"
          (click)="imgPreview(img.url.replace('compressed-', ''))">查看原图</fl-tag>
        </div>
      </nz-spin>
      <!-- @if (i <= currentIndex) {
      <fl-tag nzColor="#8B4513">
      <span nz-typography style="color: #fff;" class="img_button"
      (click)="imgPreview(img.url.replace('compressed-', ''))">查看原图</span>
    </fl-tag>
    } -->
  </div>
}
</div>
