.img-container {
    width: 100%;
    aspect-ratio: 192 / 108;
    /* 保持宽高比 */
    overflow: hidden;
    /* 裁剪多余部分 */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 填充并裁剪 */
}

.spin {
    min-width: 0 !important;

}