<nz-row [nzGutter]="[12,12]">
  @for (img of images; track img; let i = $index) {
    <nz-col [nzSpan]="isMobile ? 12 : 4">
      <nz-spin class="spin" [nzTip]="'图片加载中'" [nzSpinning]="!img.loaded">
        <div class="pic-wrapper" flCard>
          <div class="pic-frame">
            <nz-image-group class="pic-group">
              @if (i <= currentIndex) {
                <img
                  loading="lazy"
                  decoding="async"
                  nz-image
                  class="pic-image"
                  [nzSrc]="img.url"
                  (load)="img.loaded = true; onImageLoad(i)"
                />
              }
            </nz-image-group>
          </div>
          <nz-tag flTag flTagVariant="solid" flTagInteractive class="view-btn"
            (click)="previewOriginal(img.url)">查看原图</nz-tag>
        </div>
      </nz-spin>
    </nz-col>
  }
</nz-row>
