<div class="header" nz-flex nzJustify="space-between" @QuickDown *ngIf="!isMobile">
    <div nz-flex nzAlign="center" nzJustify="center">
        <img width="56px" src="https://api.flowersink.com/img/再花猫猫女仆欢呼.GIF" alt="">
        <img class="logo" src="assets/img/web/logo.png" alt="">
    </div>
    <div>
        <ul nz-menu nzMode="horizontal">
            @for (menu of MenuList; track $index) {
            <li nz-menu-item *ngIf="menu.child?.length == 0; else elseChild" [routerLink]="[menu.url]" nzMatchRouter>
                <span nz-icon [nzType]="menu.icon" nzTheme="fill"></span>
                &nbsp;&nbsp;{{ menu.title }}
            </li>

            <ng-template #elseChild>
                <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter"
                    nzMatchRouter>
                    <ul>
                        @for (childs of menu.child; track $index) {
                        <li nz-menu-item class="item_child" nzMatchRouter [routerLink]="[childs.url]">{{ childs.title }}
                        </li>
                        }
                    </ul>
                </li>
            </ng-template>
            }
        </ul>
    </div>
</div>

<div class="header" nz-flex nzJustify="center" @QuickDown *ngIf="isMobile">
    <ul nz-menu nzMode="horizontal">
        @for (menu of MenuList; track $index) {
        <li nz-menu-item *ngIf="menu.child?.length == 0; else elseChild" [routerLink]="[menu.url]" nzMatchRouter>
            <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
            &nbsp;&nbsp;
        </li>

        <ng-template #elseChild>
            <li nz-submenu [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter" nzMatchRouter>
                <ul>
                    @for (childs of menu.child; track $index) {
                    <li nz-menu-item class="item_child" nzMatchRouter [routerLink]="[childs.url]">{{ childs.title }}
                    </li>
                    }
                </ul>
            </li>
        </ng-template>
        }
    </ul>
</div>