<div class="header" nz-flex nzJustify="space-between">
    <div class="logo" nz-flex nzAlign="center" nzJustify="center" nzGap="middle">
        <!-- <nz-avatar nzSize="small" nzIcon="user" nzSrc="assets/img/web/猫娘.jpg"></nz-avatar> -->
        <!-- <h3>花墨</h3> -->
        <img class="logo" src="assets/img/web/logo.png" alt="">
    </div>
    <div>
        <ul nz-menu nzMode="horizontal">
            @for (menu of MenuList; track $index) {
            <li nz-menu-item *ngIf="menu.child?.length == 0; else elseChild" [routerLink]="[menu.url]">
                <span nz-icon [nzType]="menu.icon" nzTheme="fill"></span>
                &nbsp;&nbsp;{{ menu.title }}
            </li>

            <ng-template #elseChild>
                <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter">
                    <ul>
                        @for (childs of menu.child; track $index) {
                        <li nz-menu-item class="item_child" [routerLink]="[childs.url]">{{ childs.title }}</li>
                        }
                    </ul>
                </li>
            </ng-template>
            }
        </ul>
    </div>
</div>