<div class="welcome" nz-flex [nzVertical]="true">
    <flower-blog-title [title]="'花墨的精选文章'"></flower-blog-title>
    <div class="content" nz-flex nzGap="middle" [nzVertical]="true">
        <div *ngFor="let item of data" class="flower_card">
            <flower-blog-card [blog]="item" [loading]="loading"
                [routerLink]="['/blog/blog-detail/' + item.id]"></flower-blog-card>
        </div>
    </div>
    <div class="me">
        <flower-me-card [data]="data"></flower-me-card>
    </div>
</div>