<div class="welcome" nz-flex [nzVertical]="true">
    <flower-blog-title [title]="'花墨的精选文章'"></flower-blog-title>
    <div class="content" nz-flex [nzVertical]="true" @QuickUp>
        <nz-spin [nzTip]="'精选文章正在努力赶来中'" [nzSpinning]="loading">
            <div nz-flex nzGap="middle" [nzVertical]="true">
                <div *ngFor="let item of data" class="flower_card">
                    <flower-blog-card [blog]="item" [loading]="loading"
                        [routerLink]="['/blog/blog-detail/' + item.id]"></flower-blog-card>
                </div>
            </div>
        </nz-spin>
    </div>
    <div class="me" @SlowUp>
        <flower-me-card [info]="info"></flower-me-card>
    </div>
</div>