<div class="blog_card" nz-flex [nzGap]="'small'" nzAlign="start" nzJustify="center" [nzVertical]="true">
  <ng-container *ngIf="!loading;else NzSkeleton">
    <h4 nz-typography> {{blog.title}} </h4>
    <p nz-typography nzEllipsis [nzContent]="blog.content" [nzEllipsisRows]="2"></p>
    <span nz-typography nzType="secondary">{{blog.type}} | {{blog.tag}}&nbsp;{{ blog.date | date:'yyyy-MM-dd' }}</span>
  </ng-container>

  <ng-template #NzSkeleton>
    <nz-skeleton [nzActive]="loading"></nz-skeleton>
  </ng-template>
</div>