<div class="comment-emoji-trigger">
  <button class="emoji fl-icon-button" nz-popover [(nzPopoverVisible)]="visible" nzPopoverTrigger="click"
    nzPopoverPlacement="top" [nzPopoverContent]="contentTemplate"><span nz-icon nzType="message"
  nzTheme="outline"></span></button>
  <ng-template #contentTemplate>
    <div class="comment-emoji-panel">
      <div nz-row [nzGutter]="[16]">
        @for (emoji of commentArray; track emoji) {
          <div nz-col [nzSpan]="isMobile ? 8 :4" nz-flex [nzVertical]="true" nzJustify="center"
            nzAlign="center">
            <button
              class="emoji-option"
              nz-tooltip
              [nzTooltipTitle]="emoji.description"
              type="button"
              (click)="onEmojiClick(emoji)"
            >
              <img
                class="emoji-option-image"
                loading="lazy"
                decoding="async"
                [src]="'https://api.flowersink.com/uploads/' + emoji.key + '.png'"
                [alt]="emoji.text"
              >
            </button>
            <span nz-typography class="emoji-option-text">{{emoji.text}}</span>
          </div>
        }
      </div>
    </div>
  </ng-template>
</div>
