<a
  class="blog_card"
  nz-flex
  [nzGap]="'small'"
  nzAlign="start"
  nzJustify="center"
  [nzVertical]="true"
  [attr.href]="href"
>
  @if (!loading) {
  <h4 nz-typography class="blog_title">
    <span class="blog_title_text">{{ blog.title }}</span>
    @if (pinned) {<span class="blog_card_pin">置顶</span>}
  </h4>
  <p nz-typography nzEllipsis [nzContent]="excerpt" [nzEllipsisRows]="1"></p>
  <div class="blog_msg" nz-flex nzAlign="center" nzJustify="space-between">
    <div nz-flex nzAlign="center" class="blog_meta_group">
      <span nz-typography nzType="secondary" class="blog_meta_text">{{blog.type}} · {{blog.tag}}</span>
      <span nz-typography nzType="secondary" class="blog_meta_text">{{blog.views}} 阅读</span>
      <span nz-typography nzType="secondary" class="blog_meta_text">{{ blog.date | date:'yyyy年MM月dd日'}}</span>
    </div>
  </div>
  } @else {
  <nz-skeleton [nzActive]="loading"></nz-skeleton>
  }

</a>
