<a class="blog_card" fl-flex fl-gap="small" fl-align="start" fl-justify="center" fl-vertical="true">
  @if (!loading) {
    <h4 nz-typography style="color:#8B4513"> {{blog.title}} </h4>
    <p nz-typography nzEllipsis [nzContent]="blog.content" [nzEllipsisRows]="2"></p>
    <div class="blog_msg" fl-flex fl-align="center" fl-justify="space-between">
      <div fl-flex fl-align="center" fl-gap="small">
        <span nz-typography nzType="secondary">{{blog.type}} | {{blog.tag}} </span>
        <span nz-typography nzType="secondary"><span nz-icon nzType="eye" nzTheme="outline"></span>
      {{blog.views}} | </span>
      <span nz-typography nzType="secondary">{{ blog.date | date:'yyyy年MM月dd日'}}</span>
    </div>
    @if (!isMobile) {
      <div fl-flex fl-justify="end" fl-wrap="wrap" fl-gap="small" [ngStyle]="{width:isMobile?'200px':'400px'}">
        @for (item of emojiTags[blog.id]; track item) {
          @if (item.count > 0) {
            <fl-tag nz-tooltip [nzTooltipTitle]="item.description" style="border-radius: 5px;">
              <span class="emoji">{{ emojiSymbol(item.key) }}</span>&nbsp;<span class="emoji_count">{{item.count}}</span>
            </fl-tag>
          }
        }
      </div>
    }
  </div>
} @else {
  <fl-skeleton [nzActive]="loading"></fl-skeleton>
}

</a>
