<a class="blog_card" nz-flex [nzGap]="'small'" nzAlign="start" nzJustify="center" [nzVertical]="true">
  <ng-container *ngIf="!loading;else NzSkeleton">
    <h4 nz-typography style="color:#8B4513"> {{blog.title}} </h4>
    <p nz-typography nzEllipsis [nzContent]="blog.content" [nzEllipsisRows]="2"></p>
    <div class="blog_msg" nz-flex nzAlign="center" nzJustify="space-between">
      <div nz-flex nzAlign="center" nzGap="small">
        <span nz-typography nzType="secondary">{{blog.type}} | {{blog.tag}} </span>
        <span nz-typography nzType="secondary"><span nz-icon nzType="eye" nzTheme="outline"></span>
          {{blog.views}} | </span>

        <span nz-typography nzType="secondary">{{ blog.date | date:'yyyy年MM月dd日'}}</span>
      </div>
      <div nz-flex nzJustify="end" nzWrap="wrap" [ngStyle]="{width:isMobile?'200px':'400px'}">
        <ng-container *ngFor="let item of emojiTags[blog.id]">
          <nz-tag *ngIf="item.count > 0" nz-tooltip [nzTooltipTitle]="item.description" style="border-radius: 5px;">
            <span nz-typography>{{item.value}} {{item.count}}</span>
          </nz-tag>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #NzSkeleton>
    <nz-skeleton [nzActive]="loading"></nz-skeleton>
  </ng-template>
</a>