<nz-layout class="layout">
  <nz-header style="padding: 0 20px;">
    <flower-header></flower-header>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <flower-footer></flower-footer>
  </nz-footer>
</nz-layout>

<!-- 全局替换加载图标 -->
<ng-template #loadingTemplate>
  <div nz-flex nzAlign="center" nzJustify="center" nzGap="middle">
    <img style="width: 80px;height: 80px;" src="assets/img/web/再花猫猫女仆走路.GIF">
  </div>
</ng-template>

<!-- 回到顶部 -->

<flower-back-top></flower-back-top>