<nz-layout class="layout">
  <nz-header class="app-header">
    <flower-header></flower-header>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <flower-footer></flower-footer>
  </nz-footer>
</nz-layout>

<!-- 全局自定义加载图标 -->
<ng-template #loadingTemplate>
  <span class="global-loading-indicator">
    <img
      class="global-loading-icon"
      src="https://api.flowersink.com/img/再花猫猫女仆走路.GIF"
      loading="eager"
      decoding="async"
    >
  </span>
</ng-template>

<!-- 回到顶部 -->
<flower-back-top></flower-back-top>
