.layout {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

nz-header {
  position: fixed;
  width: 100%;
  background: #fff;
  /* 导航永远在上层 */
  z-index: 999;
}

nz-content {
  margin-top: 48px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
  padding: 0;
}