<div class="me" nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true" nzGap="small">
  <nz-avatar [nzSize]="128" nzSrc="assets/img/再花猫猫头.png" nzShape="square"></nz-avatar>
  <h5 nz-typography class="name">再花</h5>
  <div>
    <p nz-typography>你好，我是再花，一名前端工程师，欢迎来到「花墨」</p>
    <p nz-typography>这里是我分享技术文章、记录生活点滴的地方。</p>
    <p nz-typography>希望你能在这里收获「知识」或者「好心情」</p>
  </div>
</div>
<div class="me" nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true" nzGap="middle">
  <div nz-flex nzJustify="space-between" nzAlign="center">
    <div nz-flex [nzVertical]="true" nzAlign="center" nzGap="small">
      <span nz-typography>12篇</span>
      <span nz-typography>文章发布</span>
    </div>
    <nz-divider nzType="vertical"></nz-divider>
    <div nz-flex [nzVertical]="true" nzAlign="center" nzGap="small">
      <span nz-typography>165个</span>
      <span nz-typography>问题记录</span>
    </div>
    <!-- <nz-divider nzType="vertical"></nz-divider>
    <div nz-flex [nzVertical]="true" nzAlign="center" nzGap="small">
      <span nz-typography>35次</span>
      <span nz-typography>生活点滴</span>
    </div> -->
  </div>
  <button class="amazon-button" role="button">关于我 <span nz-icon nzType="smile" nzTheme="outline"></span></button>
  <button class="amazon-button" role="button">关于网站 <span nz-icon nzType="cloud" nzTheme="outline"></span></button>
  <button class="amazon-button" role="button">留言板 <span nz-icon nzType="edit" nzTheme="outline"></span></button>
</div>