<div class="welcome" nz-flex [nzVertical]="true" nzAlign="center">
  <div class="content" nz-flex nzGap="middle" nzJustify="start" nzAlign="center" [nzVertical]="true"
    [ngStyle]="{'width':isMobile ?'90vw':'60vw'}">
    <flower-blog-title [title]="'文归档'"></flower-blog-title>
    <div class="search card" nz-flex nzAlign="center" nzJustify="center" @QuickUp>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="想要搜点儿什么?" [formControl]="searchControl" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <nz-spin [nzTip]="'归档正在努力赶来中'" [nzSpinning]="loading" @SlowUp>
      <div nz-flex nzAlign="center" [nzVertical]="true" nzGap="middle">
        @for (item of data; track item) {
          <div class="blog card">
            <h2 nz-typography>{{item.year}}年</h2>
            <nz-timeline>
              @for (blog of item.data; track blog) {
                <nz-timeline-item>
                  <div nz-flex nzGap="middle">
                    <span nz-typography class="blog_time" nzType="secondary">{{ blog.date | date:'yyyy-MM-dd' }}</span>
                    <span nz-typography class="blog_title" [routerLink]="['/blog/blog-detail/' + blog.id]">@if (blog.type) {
                      <span
                      ></span>
                    }{{blog.title}}</span>
                  </div>
                </nz-timeline-item>
              }
            </nz-timeline>
          </div>
        }
      </div>
    </nz-spin>
  </div>
</div>