<div class="welcome" nz-flex [nzVertical]="true" nzAlign="center">
  <div class="content" nz-flex nzGap="middle" nzJustify="start" [nzVertical]="true"
    [ngStyle]="{'width':isMobile ?'100%':'60%','margin-left' :isMobile ?'0':'9.5%'}">
    <flower-blog-title [title]="'文归档'"></flower-blog-title>
    <div class="search card" nz-flex nzAlign="center" nzJustify="center" @QuickUp>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="想要搜点儿什么?" [formControl]="searchControl" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <nz-spin [nzTip]="'归档正在努力赶来中'" [nzSpinning]="loading" @SlowUp>
      <div nz-flex nzAlign="center" [nzVertical]="true" nzGap="middle">
        <ng-container *ngFor="let item of data">
          <div class="blog card">
            <h2 nz-typography>{{item.year}}年</h2>
            <nz-timeline>
              <nz-timeline-item *ngFor="let blog of item.data">
                <div nz-flex nzGap="middle">
                  <span nz-typography class="blog_time" nzType="secondary">{{ blog.time | date:'MM月dd日' }}</span>
                  <span nz-typography class="blog_title" [routerLink]="['/blog/blog-detail/' + blog.id]"><span
                      *ngIf="blog.type">[{{ blog.type
                      }}]</span>{{blog.title}}</span>
                </div>
              </nz-timeline-item>
            </nz-timeline>
          </div>
        </ng-container>
      </div>
    </nz-spin>
  </div>
</div>