<div class="heart" nz-flex [nzVertical]="true" nzJustify="center" nzAlign="center">
    <flower-blog-title class="zcool-kuaile-regular" [title]="'再花和方方老婆的时间轴'"></flower-blog-title>

    <div class="content" nz-flex nzGap="middle" nzJustify="start" nzAlign="center" [nzVertical]="true"
        [ngStyle]="{'width':isMobile ?'100%':'60%'}">
        <nz-spin [nzTip]="'狗粮正在努力赶来中'" [nzSpinning]="loading">
            <nz-collapse nzAccordion style="max-width: 100vw;border-radius: 10px;" nzGhost nzBordered="false" nz-flex
                nzGap="small" [nzVertical]="true">
                @for (panel of data; track panel) {
                <nz-collapse-panel [nzActive]="panel.active" [nzHeader]="yearBox" class="card" nzShowArrow="false">
                    <nz-timeline *ngIf="!isMobile">
                        <ng-container *ngFor="let item of panel.data">
                            <nz-timeline-item [nzColor]="getAccentColor(item.tag[0])" [nzLabel]="DateLabel"
                                [nzPosition]="item.tag[0] == '事件' ? 'right' : 'left'">

                                <nz-card class="img_card" (click)="getLifeDetail(item)">
                                    <nz-card-meta [nzTitle]="LifeTtile"
                                        [nzDescription]="contentTemplate"></nz-card-meta>
                                </nz-card>
                                <ng-template #contentTemplate>
                                    <div nz-flex nzAlign="start" nzJustify="space-between"
                                        *ngIf="item.tag[0] == '事件';else elseTemplate">
                                        <nz-avatar style="min-width: 48px;" [nzSize]="48"
                                            [nzSrc]="item.image_first[0].url"></nz-avatar>
                                        <p style="font-size: 14px !important;color:rgb(100, 100, 100);margin: 0;"
                                            nz-typography nzEllipsis [nzContent]="item.content" [nzEllipsisRows]="2">
                                        </p>
                                    </div>
                                    <ng-template #elseTemplate>
                                        <div nz-flex nzAlign="start" nzJustify="space-between">
                                            <p style="font-size: 14px !important;color:rgb(100, 100, 100);margin: 0;"
                                                nz-typography nzEllipsis [nzContent]="item.content"
                                                [nzEllipsisRows]="2"></p>
                                            <nz-avatar style="min-width: 48px;" [nzSize]="48"
                                                [nzSrc]="item.image_first[0].url"></nz-avatar>
                                        </div>
                                    </ng-template>
                                </ng-template>
                                <ng-template #LifeTtile>
                                    <h4 nz-typography
                                        [ngStyle]="{'color': getAccentColor(item.tag[0]) , 'text-align': item.tag[0] == '事件' ? 'right' : 'left'}">
                                        <strong>「{{ item.title
                                            }}」</strong>
                                    </h4>
                                </ng-template>
                            </nz-timeline-item>
                            <ng-template #DateLabel>
                                <h5 nz-typography>「{{item.date | date: 'yyyy年MM月dd日'}}」&nbsp;
                                </h5>
                            </ng-template>
                        </ng-container>
                    </nz-timeline>

                    <!-- 手机端 -->
                    <nz-timeline *ngIf="isMobile">
                        <ng-container *ngFor="let item of panel.data">
                            <nz-timeline-item [nzColor]="getAccentColor(item.tag[0])">
                                <nz-card class="img_card" (click)="getLifeDetailMobile(item)">
                                    <nz-card-meta [nzTitle]="LifeTtile"
                                        [nzDescription]="contentTemplate"></nz-card-meta>
                                </nz-card>
                                <ng-template #contentTemplate>
                                    <div nz-flex nzAlign="start" nzJustify="space-between">
                                        <p style="font-size: 14px !important;color:rgb(100, 100, 100);margin: 0;"
                                            nz-typography nzEllipsis [nzContent]="item.content" [nzEllipsisRows]="2">
                                        </p>
                                        <nz-avatar style="min-width: 48px;" [nzSize]="48"
                                            [nzSrc]="item.image_first[0].url"></nz-avatar>
                                    </div>
                                </ng-template>
                                <ng-template #LifeTtile>
                                    <h4 nz-typography [ngStyle]="{'color': getAccentColor(item.tag[0]) }">
                                        <strong>「{{ item.title
                                            }}」</strong>
                                    </h4>
                                </ng-template>
                            </nz-timeline-item>
                            <ng-template #DateLabel>
                                <h5 nz-typography>「{{item.date | date: 'yyyy-M-d'}}」&nbsp;</h5>
                            </ng-template>
                        </ng-container>
                    </nz-timeline>
                </nz-collapse-panel>
                <ng-template #yearBox>
                    <div nz-flex nzJustify="center">
                        <h2 nz-typography style="margin-bottom: 0 !important" class="zcool-kuaile-regular">
                            {{panel.year}}年</h2>
                    </div>
                </ng-template>
                }
            </nz-collapse>
        </nz-spin>
    </div>
</div>