<div class="message" nz-flex nzAlign="center" nzJustify="center" [nzVertical]="true"
  [ngStyle]="{'padding':isMobile ?'4px':'24px'}">
  <!-- 绝对定位的导航 -->
  @if (!isMobile) {
    <flower-target></flower-target>
  }
  <div class="content card" nz-flex [nzVertical]="true" @QuickUp
    [ngStyle]="{'width':isMobile ?'100%':'70vw','padding':isMobile ?'24px':'48px'}">
    <h1 nz-typography style="color:#8B4513">留言板</h1>
    <p nz-typography nzType="secondary">留言或许很难让你会有什么收获,但会让再花获得快乐</p>
    <nz-spin [nzTip]="'留言正在赶来中'" [nzSpinning]="loading" style="width: 100%;">
      <div nz-flex [nzVertical]="true">
        <flower-edit-message style="width: 100%;"></flower-edit-message>
        <nz-divider></nz-divider>
        <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
          nzNoResult="居然没有留言(T⌓T)">
          <ng-template #item let-item>
            <nz-comment [nzAuthor]="name" [nzDatetime]="date">
              <!-- <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="imageUrl(item.avatar)" [nzSize]="42"
            (click)="navigateToUrl(item.url)"></nz-avatar> -->
            <nz-comment-content>
              <p style="padding-left: 20px;" class="content_text noto-sans-sc">{{ item.content }}</p>
            </nz-comment-content>
            <ng-template #name>
              @if (!item.url) {
                <span class="name noto-sans-sc">{{item.name}}</span>
              }
              @if (item.url) {
                <a class="url_name noto-sans-sc"
                (click)="navigateToUrl(item.url)">{{item.name}}</a>
              }
            </ng-template>
            <ng-template #date>
              <span>{{item.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </ng-template>
          </nz-comment>
        </ng-template>
      </nz-list>
      <nz-pagination [nzPageIndex]="page" [nzTotal]="count" nzSimple
      nzHideOnSinglePage="true"></nz-pagination>
    </div>
  </nz-spin>
</div>

</div>