.form_title {
    min-width: 50px;
}

textarea,
nz-textarea-count {
    width: 100%;
    min-height: 100px;
}

nz-select {
    border-radius: var(--fi-radius-sm) 0 0 var(--fi-radius-sm);
}

.toolbar {
    padding-top: 4px;
    width: 100%;
}

.emoji {
    width: 50px;
}

.submit {
    width: 100px;
}

.message-input-group {
    border-radius: var(--fi-input-radius);
}

.message-input-group--desktop {
    width: 200px;
}

.message-input-group--mobile-name {
    width: 30%;
}

.message-input-group--mobile-url {
    width: 60%;
}

.ant-popover-inner {
    max-width: 200px !important;
}

.ant-popover-inner-content {
    max-width: 200px !important;

}
