:host {
  display: block;
  width: 100%;
  border-top: 1px solid var(--fi-border);
  margin: 16px 0;
}

:host.fl-divider-vertical {
  display: inline-block;
  width: 1px;
  min-width: 1px;
  height: 1em;
  min-height: 1em;
  border-top: 0;
  border-left: 1px solid var(--fi-border);
  margin: 0 8px;
  vertical-align: middle;
}
