<nz-ribbon [nzText]="ribbon_text" [nzColor]="getColor(book.status)">
    <div class="card " nz-flex [nzGap]="25" [ngClass]="book.status=='有笔记'?'content':'no_content'">
        <img nz-image nzDisablePreview="true" [nzSrc]="book.img[0].url" alt="" [height]="125">
        <div nz-flex [nzVertical]="true" nzJustify="center" nzGap="small" class="noto-sans-sc">
            <span nz-typography class="book_name">{{book.name}}</span>
            <span nz-typography class="book_author">{{book.author}}</span>
            <span nz-typography nzType="secondary" *ngIf="book.finishDate">读完于{{book.finishDate |
                date:'yyyy-MM-dd'}}</span>
        </div>
    </div>
</nz-ribbon>
<ng-template #ribbon_text>
    <div nz-flex class="noto-sans-sc " nzJustify="center">
        <span nz-typography class="ribbon_text" *ngIf="book.readingTime > 0">{{book.readingTime |
            number:'1.1'}}小时</span>
        <nz-divider nzType="vertical" *ngIf="book.readingTime > 0"></nz-divider>
        <span nz-typography class="ribbon_text">{{book.status}}</span>
    </div>
</ng-template>