<div class="book" fl-flex fl-vertical="true" fl-align="center">
  <div class="content" fl-flex fl-gap="middle" fl-justify="start" fl-align="center" fl-vertical="true"
    [ngStyle]="{'width':isMobile ?'90vw':'90vw'}">
    <flower-blog-title [title]="'再花的图书馆'"></flower-blog-title>
    <nz-spin [nzTip]="'书籍正在努力赶来中'" [nzSpinning]="loading">
      <div style="width: 100%;" fl-flex fl-align="center" fl-justify="center" [style.gap.px]="30" fl-vertical="true">
        <div @QuickUp fl-flex fl-vertical="true" fl-align="center" fl-gap="small" class="noto-sans-sc">
          <span nz-typography>
            共读完<fl-tag nzColor="#8B4513">{{totalBooks}}</fl-tag>本
            <fl-divider nzType="vertical"></fl-divider>
            阅读时长<fl-tag nzColor="#8B4513">{{totalReadingTime | number:'1.1'}}</fl-tag>小时
          </span>
          <span nz-typography nzType="secondary">注:统计开始于2024年12月</span>
        </div>
        <div @SlowUp fl-flex fl-wrap="wrap" [style.gap.px]="25" fl-align="start" fl-justify="center">
          @for (book of data; track book) {
            <flower-book-card [book]="book"
            [routerLink]="book.satus == '有笔记' ? ['/world/book/' + book.id] : []"></flower-book-card>
          }
        </div>
      </div>
    </nz-spin>
  </div>
</div>