<div class="me me-profile" nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true" nzGap="middle">
  <a class="profile-link" [routerLink]="['/about/me']" aria-label="前往关于我">
    <nz-avatar class="me-avatar" [nzSize]="196" nzSrc="https://api.flowersink.com/img/粉毛猫猫头.jpeg"
      nzShape="circle"></nz-avatar>
  </a>
  <div class="fi-secondary-texts">
    <h5 nz-typography class="name">再花</h5>
    <span class="fi-secondary-text">一只编程咪娘</span><br>
    @if (info.profile?.subtitle) {
    <span class="fi-secondary-text">{{ info.profile?.subtitle }}</span>
    }
  </div>

  <div class="intro-text">
    @if (info.profile?.latestUpdate && info.profile?.latestUpdateId) {
    <a nz-typography class="intro-link" [routerLink]="['/blog/blog-detail', info.profile?.latestUpdateId]">
      <span class="intro-label">最近更新:</span> <strong class="fi-primary-text">{{ info.profile?.latestUpdate }}</strong>
    </a>
    }
    @if (info.profile?.latestPlaying) {
    <a nz-typography class="intro-link" [routerLink]="['/world/game']">
      <span class="intro-label">最近在玩:</span> <strong class="fi-primary-text">{{ info.profile?.latestPlaying }}</strong>
    </a>
    }
    @if (info.profile?.latestLife) {
    <a nz-typography class="intro-link" [routerLink]="['/life']">
      <span class="intro-label">最近点滴:</span> <strong class="fi-primary-text">{{ info.profile?.latestLife }}</strong>
    </a>
    }
  </div>
  <div class="stat-row" nz-flex nzJustify="center" nzAlign="center" nzGap="small">
    <div class="stat-item" nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/blog/all']">
          @if (numLoading) {
          ...
          } @else {
          {{ info.blogTotal }}
          }
          篇
        </nz-tag>
      </span>
      <span nz-typography class="stat-label">博客发布</span>
    </div>

    <nz-divider nzType="vertical"></nz-divider>

    <div class="stat-item" nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/life']">
          @if (numLoading) {
          ...
          } @else {
          {{ info.lifeTotal }}
          }
          条
        </nz-tag>
      </span>
      <span nz-typography class="stat-label">点滴记录</span>
    </div>

    <nz-divider nzType="vertical"></nz-divider>

    <div class="stat-item" nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/about/website']">
          @if (numLoading) {
          ...
          } @else {
          {{ info.runDays }}
          }
          天
        </nz-tag>
      </span>
      <span nz-typography class="stat-label">网站运行</span>
    </div>
  </div>


  <div class="social-links" nz-flex [nzVertical]="true" nzAlign="center" nzGap="small">
    <div class="social-row" nz-flex nzJustify="center" nzAlign="center" nzGap="small">
      <a class="social-link" href="javascript:void(0)" nz-tooltip [nzTooltipTitle]="qq" aria-label="QQ" title="QQ"
        (click)="previewContactQr('qq')">
        <span nz-icon nzType="qq" nzTheme="outline"></span>
      </a>
      <a class="social-link" href="javascript:void(0)" nz-tooltip [nzTooltipTitle]="wechat" aria-label="微信" title="微信"
        (click)="previewContactQr('wechat')">
        <span nz-icon nzType="wechat" nzTheme="outline"></span>
      </a>
      <a class="social-link" href="javascript:void(0)" nz-tooltip [nzTooltipTitle]="email" aria-label="邮箱" title="邮箱"
        (click)="copyEmail($event)">
        <span nz-icon nzType="mail" nzTheme="outline"></span>
      </a>
      <a class="social-link" href="https://github.com/ZaiHuaOvO" target="_blank" rel="noopener noreferrer"
        aria-label="Github" title="Github">
        <span nz-icon nzType="github" nzTheme="outline"></span>
      </a>
      <a class="social-link" href="/rss.xml" target="_blank" rel="noopener noreferrer" aria-label="RSS" title="RSS">
        <flower-rss></flower-rss>
      </a>
    </div>

  </div>

  <div class="about-me-btn" nz-flex nzJustify="center">
    <fl-button [routerLink]="['/about/me']">
      了解我
    </fl-button>
  </div>
</div>
