<div class="me" nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true" nzGap="small">
  <nz-avatar [nzSize]="128" nzSrc="https://api.flowersink.com/img/再花猫猫头.png" nzShape="square"></nz-avatar>
  <h5 nz-typography class="name">再花</h5>
  <div class="intro-text">
    <p nz-typography>你好，我是再花，欢迎来到「花墨」</p>
    <p nz-typography>这里是我分享技术文章、生活点滴的地方。</p>
    <p nz-typography>希望你能在这里收获知识或者好心情</p>
  </div>
</div>

<div class="me" nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true" nzGap="middle">
  <div class="stat-row" nz-flex nzJustify="center" nzAlign="center" nzGap="small">
    <div nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/blog/article']">
          @if (numLoading) {
          ...
          } @else {
          {{ info.article }}
          }
          篇
        </nz-tag>
      </span>
      <span nz-typography>技术文章</span>
    </div>

    <nz-divider nzType="vertical"></nz-divider>

    <div nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/blog/essay']">
          @if (numLoading) {
          ...
          } @else {
          {{ info.essay }}
          }
          篇
        </nz-tag>
      </span>
      <span nz-typography>随笔杂文</span>
    </div>

    <nz-divider nzType="vertical"></nz-divider>

    <div nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
      <span nz-typography class="point_tag">
        <nz-tag flTag flTagVariant="outline" flTagInteractive [routerLink]="['/about/website']">{{ info.day }}天</nz-tag>
      </span>
      <span nz-typography>网站运行</span>
    </div>
  </div>

  <fl-button [block]="true" [routerLink]="['/about/me']">
    <span class="emoji">▶了解再花◀</span>
  </fl-button>

  <fl-button [block]="true" [routerLink]="['/about/website']">
    <span class="emoji">▶了解花墨◀</span>
  </fl-button>
</div>
