<div class="header" nz-flex nzJustify="center" @QuickDown *ngIf="!isMobile">
    <!-- <div nz-flex nzAlign="center" nzJustify="center">
        <img width="56px" src="https://api.flowersink.com/img/再花猫猫女仆欢呼.GIF" alt="">
        <img class="logo" src="assets/img/web/logo2.png" alt="">
    </div> -->
    <div>
        <!-- <ul nz-menu nzMode="horizontal">
            @for (menu of MenuList; track $index) {
            <li  *ngIf="menu.child?.length == 0; else elseChild" [routerLink]="[menu.url]" nzMatchRouter>
                <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
                &nbsp;&nbsp;{{ menu.title }}
            </li>

            <ng-template #elseChild>
                <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter"
                    nzMatchRouter>
                    <ul>
                        @for (childs of menu.child; track $index) {
                        <li nz-menu-item class="item_child" nzMatchRouter [routerLink]="[childs.url]">{{ childs.title }}
                        </li>
                        }
                    </ul>
                </li>
            </ng-template>
            }
        </ul> -->
        <nav class="menu">
            <ul nz-flex nzGap="large" nzAlign="center" nzJustify="center">
                <ng-container *ngFor="let item of MenuList">
                    <li nz-flex nzAlign="center" nzJustify="center" class="menu-item"
                        [class.active]="isActive(item.url) || isParentActive(item.URL)"
                        [class.parent]="item.child?.length == 0">

                        <a [routerLink]="item.url" class="menu-link" nz-dropdown [nzDropdownMenu]="menu">
                            <span nz-icon [nzType]="item.icon" nzTheme="outline"></span>
                            &nbsp;
                            {{ item.title }}
                        </a>

                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div nz-flex [nzVertical]="true" class="submenu" nzJustify="center" nzAlign="center"
                                nzGap="middle">
                                <ng-container *ngFor="let sub of item.child">
                                    <a [routerLink]="sub.url" class="submenu-item card"
                                        [class.active]="isActive(sub.url)">{{
                                        sub.title }}</a>
                                </ng-container>
                            </div>
                        </nz-dropdown-menu>
                    </li>
                </ng-container>
            </ul>
        </nav>

    </div>
</div>

<div class="header" nz-flex nzJustify="center" @QuickDown *ngIf="isMobile">
    <ul nz-menu nzMode="horizontal">
        @for (menu of MenuList; track $index) {
        <li nz-menu-item *ngIf="menu.child?.length == 0; else elseChild" [routerLink]="[menu.url]" nzMatchRouter>
            <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
            &nbsp;&nbsp;
        </li>

        <ng-template #elseChild>
            <li nz-submenu [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter" nzMatchRouter>
                <ul>
                    @for (childs of menu.child; track $index) {
                    <li nz-menu-item class="item_child" nzMatchRouter [routerLink]="[childs.url]">{{ childs.title }}
                    </li>
                    }
                </ul>
            </li>
        </ng-template>
        }
    </ul>
</div>