@if (!isMobile) {
  <div class="header" fl-flex fl-justify="space-between" @QuickDown>
    <img class="logo" src="assets/img/web/logo2.png" alt="">
    <!-- <div fl-flex fl-align="center" fl-justify="center">
  </div> -->
  <div>
    <!-- <ul nz-menu nzMode="horizontal">
    @for (menu of MenuList; track $index) {
      @if (menu.child?.length == 0) {
        <li [routerLink]="[menu.url]" nzMatchRouter>
          <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
          &nbsp;&nbsp;{{ menu.title }}
        </li>
      } @else {
        <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" nzTheme="outline" nzPlacement="bottomCenter"
          nzMatchRouter>
          <ul>
            @for (childs of menu.child; track $index) {
              <li nz-menu-item class="item_child" nzMatchRouter [routerLink]="[childs.url]">{{ childs.title }}
              </li>
            }
          </ul>
        </li>
      }
    }
  </ul> -->
  <nav class="menu">
    <ul fl-flex fl-gap="large" fl-align="center" fl-justify="center">
      @for (item of MenuList; track item) {
        <li fl-flex fl-align="center" fl-justify="center" class="menu-item"
          [class.active]="isActive(item.url) || isParentActive(item.URL)"
          [class.parent]="item.child?.length == 0">
          <a
            [routerLink]="item.url"
            class="menu-link"
            nz-dropdown
            [nzDropdownMenu]="menu"
            [nzTrigger]="'hover'"
            [nzPlacement]="'bottomCenter'"
          >
            <span nz-icon [nzType]="item.icon" nzTheme="outline"></span>
            &nbsp;
            {{ item.title }}
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div fl-flex fl-vertical="true" class="submenu" fl-justify="center" fl-align="center"
              fl-gap="middle">
              @for (sub of item.child; track sub) {
                <a [routerLink]="sub.url" class="submenu-item card"
                  [class.active]="isActive(sub.url)">{{
                sub.title }}</a>
              }
            </div>
          </nz-dropdown-menu>
        </li>
      }
    </ul>
  </nav>
</div>
<div fl-flex fl-justify="center" fl-align="center" style="width: 160px;height: 48px;">
  <img width="48px" src="https://api.flowersink.com/img/再花猫猫女仆欢呼.GIF" alt="">
</div>
</div>
}

@if (isMobile) {
  <div class="header" fl-flex fl-justify="space-between" fl-align="center" @QuickDown>
    <a style="color: #8b4513;" nz-dropdown (click)="mobileMenu()">
      <span nz-icon nzType="menu" nzTheme="outline"></span>
      &nbsp;
      导航
    </a>
    <img width="48px" src="https://api.flowersink.com/img/再花猫猫女仆欢呼.GIF" alt="">
  </div>
}

<ng-template #mobileMenuTitle>
  <span nz-typography style="color: #8b4513;">花墨导航</span>
</ng-template>
