<nz-card style="width:100%; " [nzActions]="[img]">
  <nz-card-meta [nzTitle]="title" [nzDescription]="nzModalData.content + ''"></nz-card-meta>
</nz-card>

<ng-template #title>
  <h5 nz-typography style="text-align: center;">
    「{{nzModalData.title}}」
  </h5>
</ng-template>


<ng-template #img>
  <div fl-flex fl-vertical="true">
    <nz-image-group>
      <div fl-row fl-flex fl-gap="small" fl-wrap="wrap" fl-justify="start" style="padding: 12px; width: 100%;">
        @for (item of nzModalData.image; track item; let i = $index) {
          <!-- 根据图片数量动态设置 nzSpan -->
          <div fl-col [attr.fl-col-span]="getColSpan(nzModalData.image.length, i)">
            <img
              loading="lazy"
              decoding="async"
              class="life_img"
              nz-image
              [nzSrc]="item.url"
            />
          </div>
        }
      </div>
    </nz-image-group>
    <h5 nz-typography nzType="secondary" style="text-align: end; margin-right: 25px;">
      {{ nzModalData.date | date: 'yyyy年M月d日' }}
    </h5>
  </div>
</ng-template>
