<nz-card style="width:100%; " [nzActions]="[img]">
  <nz-card-meta [nzTitle]="title" [nzDescription]="nzModalData.content + ''"></nz-card-meta>
</nz-card>

<ng-template #title>
  <h5 nz-typography style="text-align: center;">
    「{{nzModalData.title}}」
  </h5>
</ng-template>


<ng-template #img>
  <div nz-flex [nzVertical]="true">
    <nz-image-group>
      <div nz-row nzFlex nzGap="small" nzWrap="wrap" nzJustify="start" style="padding: 12px; width: 100%;">
        @for (item of nzModalData.image; track item; let i = $index) {
          <!-- 根据图片数量动态设置 nzSpan -->
          <nz-col [nzSpan]="getColSpan(nzModalData.image.length, i)">
            <img class="life_img" nz-image [nzSrc]="item.url" />
          </nz-col>
        }
      </div>
    </nz-image-group>
    <h5 nz-typography nzType="secondary" style="text-align: end; margin-right: 25px;">
      {{ nzModalData.date | date: 'yyyy年M月d日' }}
    </h5>
  </div>
</ng-template>