<div class="card waterfall-container">
    <div class="waterfall-item" *ngFor="let item of data"
        (click)="isMobile ? getLifeDetailMobile(item) : getLifeDetail(item)">
        <img class="card" [src]="item.image_first[0].url" [alt]="item.title" />
        <div class="food_name">
            <h5 nz-typography class="noto-sans-sc">{{ item.title }}</h5>
            <p nz-typography nzType="secondary" nzEllipsis nzEllipsisRows="2" [nzContent]="item.content"></p>
        </div>
    </div>
</div>