<div class="me" nz-flex nzAlign="center" nzJustify="center" [nzVertical]="true">
    <div class="content card" nz-flex [nzVertical]="true">
        <h1 nz-typography>关于我</h1>
        <img nz-image width="250px" nzSrc="assets/img/web/小雏菊.png" alt="">
        <nz-divider></nz-divider>
        <article nz-typography>
            <h4 nz-typography>你好，我叫再花，一名定居于成都的前端工程师，很高兴认识你</h4>
            <h4 nz-typography>是的，再花就是我的网名、圈名、笔名，是我在网络上的另一个名字</h4>
            <nz-collapse nzGhost>
                <nz-collapse-panel [nzHeader]="header" nzShowArrow="false">
                    <p nz-typography>念初中的时候我父亲热衷于栽培兰花，至今为止似乎就开过一次花，而我正好有幸成为了见证者。</p>
                    <p nz-typography>某一天下午，父亲坐在木板凳上欣赏着作为自己杰作的花朵，絮絮叨叨的对我讲述着兰花和人之品性的关系。</p>
                    <p nz-typography>16岁时，我陷入了人生低谷并写下了一篇遗书，安排了我的文具、试卷、小说在我死后何去何从，</p>
                    <p nz-typography>署名的时候我犯了难，毕竟「地瓜弹」「冰霜之龙」这样的呆瓜网名作为一个将死之人生命中的最后几个字，未免有点太残忍了。</p>
                    <p nz-typography>这时候我的脑海里又浮现出了那天下午的父亲和兰花，</p>
                    <p nz-typography>真想再见一次花开啊。</p>
                    <p nz-typography>充满文艺酸臭味的内心促使着我的手签下了那个伴随了我十年的名字：</p>
                    <p nz-typography>「再花」</p>
                </nz-collapse-panel>
                <ng-template #header>
                    <div nz-flex nzAlign="center">
                        <h4 nz-typography>名字的由来</h4><span nz-typography nzType="secondary">「感兴趣可点击展开」</span>
                    </div>
                </ng-template>
            </nz-collapse>
            <nz-divider></nz-divider>
            <p nz-typography>开始写自我介绍的时候我突然感到一丝惶恐，突然对曾经初高中开学站在讲台上拘谨且自卑的我感同身受</p>
            <p nz-typography>当时的我面对着陌生的同班同学，总觉得自己远不如对方</p>
            <p nz-typography>现在的我面对着网络，总觉得自己的文字和网站漏洞百出、难登大雅之堂</p>
            <p nz-typography>但我妻子已经告诉了我无数次：“对自己，先肯定”</p>
            <p nz-typography>是的，先肯定！再花🐂🍺！</p>

        </article>
    </div>
</div>