<div class="me" nz-flex nzAlign="center" nzJustify="center" [nzVertical]="true"
    [ngStyle]="{'padding':isMobile ?'4px':'24px'}">
    <!-- 绝对定位的导航 -->
    <flower-target *ngIf="!isMobile"></flower-target>
    <div class="content card" nz-flex [nzVertical]="true" @QuickUp
        [ngStyle]="{'width':isMobile ?'100%':'60%','padding':isMobile ?'24px':'48px'}">
        <article nz-typography>
            <h1 nz-typography>关于我</h1>
            <img nzDisablePreview="true" nz-image width="300px" nzSrc="https://api.flowersink.com/img/猫娘全身.jpg" alt="">
            <h2 nz-typography>介绍</h2>
            <p nz-typography>我叫再花，一名定居于成都的前端工程师</p>
            <p nz-typography nzType="secondary">再花这个名字来源我人生最低谷的一段时期，意味着“想再见一次花开”</p>
            <p nz-typography>兴趣爱好主要是游戏、读书、写作，立志从一个无趣的呆瓜进化为有趣的灵魂</p>
            <p nz-typography>已婚，网站中的各个角落和设计都或多或少有我妻子的参与</p>
            <p nz-typography nzType="secondary">网站中频繁出现的“粽发黄瞳猫娘”是我的虚拟人设，一位女仆咖啡厅的女仆店长</p>
            <!-- 爱好 -->
            <h2 nz-typography>爱好</h2>
            <ul>
                <li>
                    <h3>游戏</h3>
                    <p>游戏曾带给我一次又一次的感悟、深思和眼泪，在孤独一人的时候给予了我无数的陪伴，甚至我的妻子与我也是游戏中相识</p>
                    <p>我喜欢的游戏：《只狼》《死亡搁浅》《群星》</p>
                </li>
                <li>
                    <h3>读书</h3>
                    <p>我尤其钟爱纸质书，纸质书所带来的知识的厚重总是给我满满的满足感。然而电子化的便利性也无可替代，时间的稀缺让我只能选择iPad来尽可能利用碎片化来提升阅读的时间</p>
                    <p>我喜欢的书籍类型：心理学、悬疑推理、科幻</p>
                </li>
                <li>
                    <h3>写作</h3>
                    <p>在小学的时候我就热爱上了用钢笔在纸上书写的感觉，并练就了（自认为的）一手好字。直到现在我依旧喜欢撰写博客、攻略之类的文章，书写记录并分享总是我热衷于做的一件事情</p>
                    <p>在作为技术初学者的时候，我热衷于用抽象复杂的语言来展示自己的高深和熟练，随着知识的摄取我逐渐感觉到自己的无知。现在我在试着用尽可能通俗的大白话去讲解我自己所掌握的技术</p>
                </li>
            </ul>
            <h2 nz-typography>社区</h2>
            <p>具体联系方式可见网站底部</p>
            <ul>
                <li>
                    <p nz-typography><a rel="nofollow" href="https://www.zhihu.com/people/zai-hua-14-76"
                            target="_blank">「知乎」</a>发言、评论、分享生活的地方（尤其是秀恩爱）
                    </p>
                </li>
                <li>
                    <p nz-typography><a rel="nofollow" href="https://juejin.cn/user/4002664676073741"
                            target="_blank">「掘金」</a>发表技术相关的博客</p>
                </li>
                <li>
                    <p nz-typography><a rel="nofollow" href="https://github.com/ZaiHuaOvO"
                            target="_blank">「Github」</a>目前主要用于存放源代码、没有怎么经营</p>
                </li>
            </ul>
            <nz-divider></nz-divider>
            <p nz-typography style="text-align: end;">再花</p>
            <p nz-typography style="text-align: end;">2024年12月3日</p>
            <p nz-typography style="text-align: end;" *ngIf="isMobile">
                <a [routerLink]="['/about/website']">前往「关于网站」</a>
            </p>
        </article>
    </div>
</div>