<div class="article" nz-flex [nzVertical]="true">
    <div class="content card" nz-flex nzGap="middle" [nzVertical]="true">
        <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon [nzTitle]="backTitle">
            <ng-template #backTitle>
                <span nz-typography style="cursor: pointer;" (click)="onBack()">返回</span>
            </ng-template>
            <nz-page-header-extra nz-flex nzAlign="center" nzJustify="center">
                <span nz-typography nzType="secondary">
                    标签：{{data.tag}}
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-typography nzType="secondary">
                    阅读量：{{data.views}}次
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-typography nzType="secondary">
                    发布于{{ data.date | date:'yyyy年MM月dd日'}}
                </span>
            </nz-page-header-extra>
        </nz-page-header>
        <flower-blog-title [title]="data.title"></flower-blog-title>
        <markdown id="currentAnchor" [data]="markdownContent" (ready)="generateAnchors()" lineNumbers lineHighlight
            commandLine emoji mermaid clipboard></markdown>
    </div>
    <div class="me">
        <div class="me_box card" nz-flex nzAlign="center" nzJustify="start" nzGap="middle">
            <nz-avatar [nzSize]="96" nzSrc="../../../assets/img/再花猫猫头.png" nzShape="square"></nz-avatar>
            <div nz-flex [nzVertical]="true">
                <h5 nz-typography>再花</h5>
                <span nz-typography nzType="secondary">前端工程师</span>
            </div>
        </div>
        <div class="menu card">
            <nz-page-header class="site-page-header" nzTitle="目录"></nz-page-header>
            <nz-divider style="margin: 0;"></nz-divider>
            <nz-anchor [nzCurrentAnchor]="currentAnchor" [nzTargetOffset]="targetOffset">
                <nz-link *ngFor="let anchor of anchors" [nzHref]="anchor.href" [nzTitle]="anchor.title">
                    <nz-link *ngFor="let subAnchor of anchor.children" [nzHref]="subAnchor.href"
                        [nzTitle]="subAnchor.title">
                        <nz-link *ngFor="let subSubAnchor of subAnchor.children" [nzHref]="subSubAnchor.href"
                            [nzTitle]="subSubAnchor.title">
                            <nz-link *ngFor="let subSubSubAnchor of subSubAnchor.children"
                                [nzHref]="subSubSubAnchor.href" [nzTitle]="subSubSubAnchor.title">
                            </nz-link>
                        </nz-link>
                    </nz-link>
                </nz-link>
            </nz-anchor>
        </div>
    </div>
</div>