<div class="menu" nz-flex [nzVertical]="true" nzGap="small">
  @for (item of this.nzData['value']; track item) {
    <div nz-flex nzJustify="space-between" class="menu-link" [class.active]="isActive(item.url) "
      [routerLink]="item.url">
      <span [ngStyle]="{'color':item.URL ? 'black':'auto'}">
        <span nz-icon [nzType]="item.icon" nzTheme="outline"
        [ngStyle]="{'color':item.URL ? 'black':'auto'}"></span>
        &nbsp;
        {{ item.title }}
      </span>
      @if (item.child?.length == 0) {
        <span nz-icon [nzType]="'right'" nzTheme="outline"></span>
      }
    </div>
    @if (item.child?.length > 0) {
      <div nz-flex [nzVertical]="true" class="submenu" nzGap="small">
        @for (sub of item.child; track sub) {
          <div nz-flex nzJustify="space-between" class="submenu-item" [class.active]="isActive(sub.url)"
            [routerLink]="sub.url">
            <span>{{
              sub.title }}
            </span>
            <span nz-icon [nzType]="'right'" nzTheme="outline"></span>
          </div>
        }
      </div>
    }
    <nz-divider style="margin: 0 !important;"></nz-divider>
  }
</div>