<nz-card style="border-radius: 10px;" [nzCover]="coverTemplate" [nzActions]="[actions]">
  <nz-card-meta [nzTitle]="nameTemplate" [nzDescription]="game.description"></nz-card-meta>
</nz-card>
<ng-template #nameTemplate>
  <div nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
    <div nz-flex nzJustify="center" nzAlign="center" nzGap="small">
      <nz-tag flTag flTagVariant="outline">
        <span nz-typography class="game-tag-text">{{game.platform}}</span>
      </nz-tag>
      <span nz-typography class="game_name">{{game.name}}</span>
    </div>
    @if (game.tag !== '') {
      <nz-tag flTag>
        <span nz-typography class="game-tag-text">{{game.tag}}</span>
      </nz-tag>
    }
  </div>

</ng-template>
<ng-template #coverTemplate>
  <div class="img-container">
    <img
      loading="lazy"
      decoding="async"
      nz-image
      class="imgFirst"
      nzDisablePreview="true"
      (click)="imgFirstPreview(game.imgFirst[0].url)"
      [nzSrc]="game.imgFirst[0].url"
    />
    </div>
  </ng-template>
  <ng-template #actions>
    <div nz-flex nzJustify="space-evenly" nzAlign="center" style="cursor: default;">
      <span nz-typography style="cursor: default;">总时长
        @if (isMobile) {
          <br>
        }
        <strong style="color: #8B4513;">{{game.time}}小时</strong>
      </span>
      <span nz-typography style="cursor: default;">通关于
        @if (isMobile) {
          <br>
        }
        <strong style="color: #8B4513;">{{game.finishDate | date:'yyyy-MM-dd'}}</strong>
      </span>

      @if (game.img?.length > 0) {
        <span nz-typography class="img_button" (click)="imgPreview()">[游戏截图]</span>
      }
      @if (game.content) {
        <span nz-typography class="img_button" (click)="goToContent(game.content)" [ngClass]="{'content_text': !game.content}">[玩后感]</span>
      }
    </div>
  </ng-template>

      <ng-template #extra>
        <nz-tag flTag flTagInteractive>
          <span nz-typography class="game-tag-text game-tag-clickable" (click)="imgDescription()">关于图片的说明</span>
        </nz-tag>
      </ng-template>

      <ng-template #imgText>
        <p nz-typography>抽屉中的游戏截图为保证网站加载速度，使用了 <mark>压缩后的图片</mark>，单张约 300-500KB。</p>
        <p nz-typography>点击查看原图时展示的是一次压缩版本，<mark>画质会有一定损失</mark>，单张约 2-4MB。</p>
        <p nz-typography>未压缩原图（15MB+）不放在站内，如有需要可 <mark>联系再花获取</mark>。</p>
      </ng-template>

