<nz-card [nzCover]="coverTemplate" [nzActions]="[finishDate,time, img,content]">
    <nz-card-meta [nzTitle]="nameTemplate" [nzDescription]="game.description"></nz-card-meta>
</nz-card>
<ng-template #nameTemplate>
    <div nz-flex [nzVertical]="true" nzAlign="center" nzJustify="center" nzGap="small">
        <div nz-flex nzJustify="center" nzAlign="center" nzGap="small">
            <nz-tag [nzColor]="colorList[game.platform]">
                <span nz-typography style="color: #fff;">{{game.platform}}</span>
            </nz-tag>
            <span nz-typography class="game_name">{{game.name}}</span>
        </div>
        <nz-tag nzColor="#8B4513" *ngIf="game.tag !== ''">
            <span nz-typography style="color: #fff;">{{game.tag}}</span>
        </nz-tag>
    </div>
</ng-template>
<ng-template #coverTemplate>
    <div class="img-container">
        <img nz-image class="imgFirst" nzDisablePreview="true" [nzSrc]="game.imgFirst[0].url" />
    </div>
</ng-template>
<ng-template #time>
    <span nz-typography style="cursor: default;">游玩时长：<strong style="color: #8B4513;">{{game.time}}小时</strong></span>
</ng-template>
<ng-template #finishDate>
    <span nz-typography style="cursor: default;">通关于<strong style="color: #8B4513;">{{game.finishDate |
            date:'yyyy年MM月dd日'}}</strong></span>
</ng-template>
<ng-template #img>
    <span nz-typography class="img_button" (click)="imgPreview()">游戏截图</span>
</ng-template>
<ng-template #content>
    <span nz-typography class="img_button" [ngClass]="{'content_text': !game.content}">玩后感：{{ game.content ?
        '点击查看':'无'}}</span>
</ng-template>